mixin course-hero(data, mods)

  //- Принимает:
  //-   data    {object}
  //-        heading    {string} -  название курса
  //-        video    {string} -  ссылка на видео
  //-        videoPreview    {string} -  ссылка на превью видео
  //-        subheading    {string} -   подзаголовок курса
  //-        label    {string} -   надпись на лейбле
  //-        author    {string} -    имя автора
  //-        authorDescr    {string} - регалии автора
  //-        logos    {array} -  пути к логотипу
  //-   mods    {string} - список модификаторов
  -
    // список модификаторов
    var allMods = "";
    if(typeof(mods) !== "undefined" && mods) {
      var modsList = mods.split(",");
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + " course-hero--" + modsList[i].trim();
      }
    }

  section.course-hero(class=allMods)&attributes(attributes)
    .container
      .course-hero__top
        h1.course-hero__heading !{data.heading}
        +label(data.label).course-hero__label
        p.course-hero__subheading !{data.subheading}
      .course-hero__main
        .course-hero__video
          .course-hero__video-play
        .course-hero__info
          if data.author
            p.course-hero__author-name !{data.author}
          if data.authorDescr
            p.course-hero__author-descr !{data.authorDescr}
          if data.logos
            .course-hero__logos
              - for (var i = 0; i < data.logos.length; i++)
                  +logo(data.logos[i]).course-hero__logo
          .course-hero__bottom
            +button("записаться на курс").modal-trigger(data-modal="#sign-up-course" data-overlay="off")
            a.link.link--button.link--color_secondary(
              href="javascript:void(0);"
              data-modal="#consultation"
              data-overlay="off"
            ).course-hero__link.modal-trigger Получить консультацию
