mixin how-it-works(steps, theme = "img/how-it-works__theme.svg", mods)

  //- Принимает:
  //-   steps    {array} -  массив с описанием этапов обучения
  //-       title    {string} -  название этапа
  //-       descr    {string} -   описание этапа
  //-   theme    {string} -  путь к индивидуальной картинке
  //-   mods    {string} - список модификаторов
  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' how-it-works--' + modsList[i].trim();
      }
    }

  section#how-it-works.how-it-works(class=allMods)&attributes(attributes)
      .how-it-works__inner
        .how-it-works__top
          h2.how-it-works__heading Как проходит курс
          p.how-it-works__subheading 4 недели, 8 модулей
          .how-it-works__attention онлайн в&nbsp;удобном режиме

        .how-it-works__scheme-wrapper
          .how-it-works__scheme
            .how-it-works__step.how-it-works__step--training
              .how-it-works__descr
                p.how-it-works__title !{steps[0].title}
                p.how-it-works__text !{steps[0].descr}
              .how-it-works__images
                img(src="img/how-it-works__training.svg")
            .how-it-works__step.how-it-works__step--process
              .how-it-works__descr-list
                .how-it-works__descr
                  p.how-it-works__title !{steps[1].title}
                  p.how-it-works__text !{steps[1].descr}
                .how-it-works__descr
                  p.how-it-works__title !{steps[2].title}
                  p.how-it-works__text !{steps[2].descr}
              .how-it-works__images
                img(src="img/how-it-works__start.svg")
                img(src="img/how-it-works__process.svg")
                img.how-it-works__finish-img(src="img/how-it-works__finish.svg")
              .how-it-works__scale
                - for (var i = 1; i < 5; i++)
                  span.how-it-works__scale-item #{i} неделя
            .how-it-works__step.how-it-works__step--success
              .how-it-works__descr
                p.how-it-works__title !{steps[3].title}
                p.how-it-works__text !{steps[3].descr}
              .how-it-works__images
                img(src="img/how-it-works__success.svg")
                img.how-it-works__theme-img(src=theme)
